.blog{
    margin-bottom: 40px;
}
.authorName h4{
    margin-bottom: 8px;
}
.authorName h6{
    margin-top: 0;
}
.author-container, .author-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author-information{
    gap: 15px;
}
.hr{
    opacity: 0.3;
}
.authorImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.authorImg img{
    width: 100%;
}
.cover-container{
    width: 845px;
    height: 450px;
    border-radius: 8px;
    overflow: hidden;
}
.cover-container > img{
    width: 100%;
    height: 100%;
}